.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.TopContainer {
  height: 100px;
}
.MiddleContainer {
  flex: 1;
  display: flex;
}
.MiddleContainer_left {
  flex: 1;
}
.MiddleContainer_right {
  flex: 2;
}
.BottomContainer {
  height: 100px;
}
